<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>nunjuk.in - Pemendek URL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" src="favicon.ico" type="image/x-icon">
    <link rel="icon" src="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc5csIbAAAAADtns10HAQgHNLnZpNbp0A8JXZ4X"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
      *{
        font-family: 'Kumbh Sans', sans-serif;
      }
      .heading-center {
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="heading-center">Pemendek URL</h1>
      <h1 id="short" class="text-center mt-4" style="font-size: 32px;">nunjuk.in</h1>
      <div class="input-group mb-3">
        <input id="url" type="text" class="form-control" placeholder="URL yang akan dipendekin" aria-label="URL yang akan dipendekin" aria-describedby="shorten">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="shorten">Pendekin</button>
        </div>
      </div>
      <div id="captcha_form"></div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="pendek">URL Pendek</label>
        </div>
        <input id="pendek" class="form-control" aria-describedby="copy-url">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="copy-url" onclick="copy('pendek')">Copy</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="analytics">Analytics URL</label>
        </div>
        <input id="analytics" class="form-control" aria-describedby="copy-analytics">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="copy-analytics" onclick="copy('analytics')">Copy</button>
        </div>
      </div>
    </div>
    <script>
      function copy(id) {
        var copyText = document.getElementById(id);
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
      }
      $(document).ready(function() {
        $('#shorten').click(function() {
            event.preventDefault();
          const url = $('#url').val();
          /*
          $.ajax({url: '/', data: { url }, type: 'POST', success: function(res) {
            $('#pendek').val(window.location.hostname+'/'+res.url);
            $('#analytics').val(window.location.hostname+'/analytics/'+res.url)
          }});
          */
          grecaptcha.ready(function() {
            grecaptcha.execute('6Lc5csIbAAAAADtns10HAQgHNLnZpNbp0A8JXZ4X', {action: 'check_captcha'}).then(function(token) {
                const captcha = token;
                $.ajax({url: '/captcha', data: { url : url, captcha : captcha}, type: 'POST', success: function(res) {
                    $('#pendek').val(window.location.hostname+'/'+res.url);
                    $('#analytics').val(window.location.hostname+'/analytics/'+res.url)
                }});
            });;
        });
        });
      });
    </script>
  </body>
</html>